@{
    ViewBag.Title = "Weekly Winners";
}

<table class="standings">
@foreach (var week in ViewBag.Weeks)
{
    <tr>
        <th scope="row">@Html.ActionLink((string)string.Format("Week {0}", week.WeekNumber), "Index", "Week", new { week = @week.WeekNumber, year = @week.Year }, null)</th>
        <td>@week.Player.Name</td>
    </tr>
}
</table>