@helper DisplayMessage(PickemApp.Controllers.AccountController.ManageMessageId? messageId, string messageType = "success")
{
    if (messageId.HasValue) 
    {
        string message = "";
        switch (messageId) 
        {
            case PickemApp.Controllers.AccountController.ManageMessageId.ResetPasswordSuccess:
                message = "Your password was reset.";
                break;
            case PickemApp.Controllers.AccountController.ManageMessageId.ForgotPasswordSuccess:
                message = "An email was sent with instructions on how to reset your password.";
                break;
        } 
        <p class="alert alert-dismissable alert-@messageType">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @message
        </p>
    }
}