@{
    ViewBag.Title = "Sync";
}

<h2>Upload Picks</h2>

<p>Upload the picks in .xls format. Doing this will overwrite existing picks.</p>

@using (Html.BeginForm("Picks", "Sync", FormMethod.Post, new { enctype = "multipart/form-data"}))
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()
    
    <div class="form-group">
        <label for="file">Filename:</label>
        <input type="file" name="file" id="file" class="form-control" />

        
    </div>

    <button type="submit" class="btn  btn-primary">Upload</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}