@{
    ViewBag.Title = "Standings";
}

<h2>@ViewBag.Year Overall Standings</h2>

<table class="standings">
@foreach (var pp in ViewBag.PlayerPicks)
{
    <tr>
        <th scope="row">@pp.Player.Name</th>
        <td>@pp.CorrectPicks</td>
    </tr>
}
</table>
